@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,900,600i");
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
}

body {
	font-size: 100%;
	font-family: Roboto, sans-serif;
	color: #303030;
	background-color: #eee;
}

.content {
	max-width: 1198px;
	width: 100%;
	margin: auto;
}

.black_white {
	width: 100%;
	margin: auto;
	padding: 100px 0;
}
.black_white__list {
	margin-bottom: 110px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.black_white__item {
	list-style: none;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 27px;
}
.black_white__item:first-child {
	font-size: 48px;
	letter-spacing: 1px;
	line-height: 27px;
	color: #303030;
	font-weight: 900;
	-ms-flex-preferred-size: 800px;
	flex-basis: 800px;
}
.black_white__link {
	text-decoration: none;
	color: black;
}
.black_white__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 1096px;
	min-height: 491px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.black_white__img {
	min-height: 391px;
	-ms-flex-preferred-size: 379px;
	flex-basis: 379px;
}
.black_white__text {
	font-size: 24px;
	text-align: right;
}
.black_white__text h1 {
	font-size: 150px;
	text-transform: uppercase;
	font-family: Raleway;
	text-align: end;
	line-height: 150px;
	letter-spacing: 4px;
	font-weight: 900;
}
.black_white__text p {
	font-weight: 100;
	letter-spacing: .45px;
	line-height: 35px;
}
.black_white__text a {
	color: red;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: .5px;
}
