@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,900,600i");
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
}

body {
	font-size: 100%;
	font-family: Roboto, sans-serif;
	color: #303030;
	background-color: #eee;
}

.content {
	max-width: 1198px;
	width: 100%;
	margin: auto;
}

.black_white {
	width: 100%;
	margin: auto;
	padding: 100px 0;
}
.black_white__list {
	margin-bottom: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.black_white__item {
	list-style: none;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 27px;
}
.black_white__item:first-child {
	font-size: 48px;
	letter-spacing: 1px;
	line-height: 27px;
	color: #303030;
	font-weight: 900;
}
.black_white__link {
	text-decoration: none;
	color: black;
}
.black_white__body {
	display: inline-block;
	width: 100%;
	min-height: 491px;
}
.black_white__img {
	display: inline-block;
	min-height: 391px;
	width: 362px;
}
.black_white__text {
	display: inline-block;
	max-width: 618px;
	min-height: 391px;
	font-size: 24px;
	text-align: right;
	margin-right: 103px;
}
.black_white__text h1 {
	display: inline-block;
	max-width: 615px;
	font-size: 150px;
	text-transform: uppercase;
	font-family: Raleway;
	text-align: end;
	font-weight: 1000;
	letter-spacing: 2.5px;
	line-height: 150px;
	margin-bottom: 25px;
}
.black_white__text p {
	font-weight: 100;
	display: inline-block;
	width: 575px;
	letter-spacing: .45px;
	line-height: 35px;
}
.black_white__text a {
	position: relative;
	display: block;
	color: red;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: .5px;
	margin-top: 40px;
	bottom: 20px;
}
