$green-color: #48bf72;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Big John';
    src: url("../fonts/BigJohn.otf") format("opentype");
}

@font-face {
    font-family: 'Slim Joe';
    src: url("../fonts/Slim+Joe.otf") format("opentype");
}

html, body {
    min-height: 100vh;
}

body {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
}

.first-screen {
    min-height: 100vh;
    background: #3c4955 url("../img/header-img.jpg") no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: white;

    .row {

        &:first-child {
            justify-content: space-between;
        }

        &:last-child {
        	flex-direction: column; 
        	& > * {
        		text-align: center;
        	}
    		align-items: center;
        }

        & > * {	
	    	text-transform: uppercase;
        }
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(#3c4955, .7);
    }

    & > * {
        position: relative;
        z-index: 2;
    }

    .logo {

        &__link {
            display: block;
        }
        
        &__img {

        }
    }

    .navigation {
        flex-basis: 50%;
        display: flex;
        align-items: center;

        .menu {
            display: flex;
            justify-content: space-between;
            flex-basis: 100%;

            &__item {
                list-style: none;
                position: relative;
                min-width: 60px;                

                &:not(:last-child) {

                    &::after {
                        content: "/";
                        position: absolute;
                        top: 0;
                        right: -100%;
                    }
                }
            }

            &__link {
                display: block;
                text-decoration: none;
                color: white;
                text-transform: capitalize;
                font-weight: bold;
                transition: color .3s ease;

                &:hover {
                    color: $green-color;
                }
            }
        }
    }

    .title {
    	font-family: 'Big John';
    	font-size: 46px;
    	text-transform: uppercase;
    	margin: 0;
    	margin-bottom: 20px;
    }

    .subtitle {
    	font-family: 'Slim Joe';
    	text-transform: uppercase;
    	font-size: 36px;
    	margin: 0;
    	margin-bottom: 35px;
    }

    .btn {
    	max-width: 140px;
    	background: none;
    	color: $green-color;
    	border-radius: 3px;
    	border: 2px solid currentColor;
    	padding: 13px;
    	font-size: 14px;
    }
}

.test {
    padding: 150px 0;
    background-color: #c1c1c1;

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;    
    }

    &__item {
        list-style: none;
        margin-bottom: 1.5rem;

        &:last-child,
        &:nth-last-child(2) {
            margin-bottom: 0;
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        color: white;
        position: relative;
        padding-top: 76%;
        min-width: 460px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: red;
            opacity: 0;
            transition: opacity .2s ease;
        }

        &:hover {
            

            &::before,
            & > [class*="__text"] {
                opacity: 1;        
            }


        }
    }

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        object-fit: cover;
    }

    &__text {
        font-size: 2.5rem;
        font-weight: bold;
        position: absolute;
        bottom: 75px;
        left: 25px;
        max-width: 70%;
        opacity: 0;
        transition: opacity .2s ease;

        & > * {
            display: inline-block;
            padding-bottom: .5rem;
            border-bottom: 4px solid currentColor;
        }
    }
}