* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%
}

body {
	background: blue;
}

.desk {
	width: 800px;
	height: 800px;
	margin: auto;
	position: relative;
	border: 10px solid brown;
}

.item {
	width: calc(100% / 8);
	height: calc(100% / 8);
	position: absolute;
}

.second-g {
	top: calc(100% / 8);
}

.therd-g {
	top: calc((100% / 8) * 2);
}

.fours-g {
	top: calc((100% / 8) * 3);
}

.fivs-g {
	top: calc((100% / 8) * 4);
}

.sixis-g {
	top: calc((100% / 8) * 5);
}

.sevens-g {
	top: calc((100% / 8) * 6);
}

.eingts-g{
	top: calc((100% / 8) * 7);
}

.second-v {
	left: calc(100% / 8);
}

.therd-v {
	left: calc((100% / 8) * 2);
}

.fours-v {
	left: calc((100% / 8) * 3);
}

.fivs-v {
	left: calc((100% / 8) * 4);
}

.sixis-v {
	left: calc((100% / 8) * 5);
}

.sevens-v {
	left: calc((100% / 8) * 6);
}

.eingts-v{
	left: calc((100% / 8) * 7);
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}