* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%
}

body {
	background: blue;
}

.desk {
	position: relative;
	max-width: 420px;
	max-height: 420px;
	margin: auto;
	border: 10px solid brown;
}

.item {
	width: 50px;
	height: 50px;
	position: relative;
}

.second-g {
	top: -400px;
	left: 50px;
}

.therd-g {
	top: -800px;
	left: 100px;
}

.fours-g {
	top: -1200px;
	left: 150px;
}

.fivs-g {
	top: -1600px;
	left: 200px;
}

.sixis-g {
	top: -2000px;
	left: 250px;
}

.sevens-g {
	top: -2400px;
	left: 300px;
}

.eingts-g{
	top: -2800px;
	left: 350px;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}