@font-face {
    font-family: "BigNoodleTitling";
    src : url("../fonts/big_noodle_titling.ttf");
}

@font-face {
    font-family: "MgOpenModataRegular";
    src : url("../fonts/MgOpenModataRegular.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Roboto');