.gallery {
	.big-f {
		height: 175px;
		width: 40%;
		background-color: #E84C3D;
		border-bottom: 1px solid #ED7165;
		border-right: 1px solid #ED7165;
	}

	.small-f {
		height: 175px;
		width: 20%;
		background-color: #E84C3D;
		border-bottom: 1px solid #ED7165;
	}
}