
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	background: #F1F1F1;
	font-family: Arial, sans-serif;
	color: #c2c2c2;
	padding-top: 5%;
}

.content, .block, .form{
	display: block;
	max-width: 1055px;
	margin: auto;
	font-size: 0;
}

.form {
	margin-bottom: 6%;
}

.input {
	outline: 0;
	border: 0;
	display: inline-block;
	font-size: 110px;
	background: #F1F1F1;
}

.text {
	font-weight: bold;
	width: calc(100% - 127px);
}

.submit {
	width: 127px;
	background-size: 85px 85px;
	background-image: url(../img/magnifier.svg);
	background-repeat: no-repeat;
	background-position: 50% 30%;
}

.submit:hover {
	cursor: pointer;
	zoom: 95%;
}

.input:focus {
	color: #ec5a62;
}

.input::-webkit-input-placeholder {
	color: #c2c2c2;
}

.people, .popular, .recent {
	display: inline-block;
	width: 30%;
	font-size: 0;
}

.colum_name {
	margin-bottom: 7%;
	font-size: 12pt;
	font-weight: 800;
	text-transform: uppercase;
}

.items {
	list-style: none;
	font-weight: bold;
}

.items:not(:last-child) {
	margin-bottom: 2%;
}

.link {
	display: flex;
	color: #ABABAD;
	align-items: center;
	font-size: 14px;
	background-color: rgba(118,117,128,0.05);
	border-radius: 5px;
	text-decoration: none;
	padding: 4%;
}

.link:hover {
	background-color: rgba(118,117,128,0.1);
	color: #ec5a62;
}

.people .img {
	border-radius: 50%;
}

.people {
	margin-right: 5%;
}

.popular {
	margin-right: 5%;
}

.content {
	margin-bottom: 10%;
}

.img {
	margin-right: 5%;
}