* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body,
html {
	width: 100%;
}

body {
	background: blue;
}

.desk {
	position: absolute;
	border: 10px solid brown;
	left: calc(50% - 210px);
	right: calc(50% - 210px);
	top: 10px;
	bottom: calc(100% - 430px);
}

.item {
	width: 50px;
	height: 50px;
	position: absolute;
}

.second-g {
	top: 50px;
}

.therd-g {
	top: 100px;
}

.fours-g {
	top: 150px;
}

.fivs-g {
	top: 200px;
}

.sixis-g {
	top: 250px;
}

.sevens-g {
	top: 300px;
}

.eingts-g {
	top: 350px;
}

.second-v {
	left: 50px;
}

.therd-v {
	left: 100px;
}

.fours-v {
	left: 150px;
}

.fivs-v {
	left: 200px;
}

.sixis-v {
	left: 250px;
}

.sevens-v {
	left: 300px;
}

.eingts-v {
	left: 350px;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}
