@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900,600i');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
}

body {
	font-size: 100%;
	font-family: Roboto, sans-serif;
	color: #303030;
	background-color: #eeeeee;
}

.content {
	max-width: 1198px;
	width: 100%;
	margin: auto;
}

.black_white {
	width: 100%;
	margin: auto;
	padding: 100px 0;

	&__list {
		margin-bottom: 110px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

	}
	&__item {
		list-style: none;
		font-size: 18px;
		letter-spacing: 0px;
		line-height: 27px;

		&:first-child {
			font-size: 48px;
			letter-spacing: 1px;
			line-height: 27px;
			color: #303030;
			font-weight: 900;
			flex-basis: 800px; 
		}

	}

	&__link {
		text-decoration: none;
		color: black;
	}
	&__body {
		display: flex;
		width: 100%;
		max-width: 1096px;
		min-height: 491px;
		justify-content: space-between;
	}

	&__img {
		min-height: 391px;
		flex-basis: 379px;
	}

	&__text {
		font-size: 24px;
		text-align: right;

		& h1 {
			font-size: 150px;
			text-transform: uppercase;
			font-family: Raleway;
			text-align: end;
			line-height: 150px;
			letter-spacing: 4px;
			font-weight: 900;
		}

		& p {
			font-weight: 100;
			letter-spacing: 0.45px;
			line-height: 35px;
		}

		& a {
			color: red;
			text-decoration: none;
			font-weight: 600;
			letter-spacing: 0.5px;
		}
	}
}