* {
	box-sizing: border-box;
	transition: all .1s ease-in;
	color: white;
	margin: 0;
}

html, body{
	min-height: 110vh;
	width: 100%;
}

body {
	font-size: 100%;
	font-family: sans-serif;
	border: 1em solid #2B81AC;
	background: #3399CC;
}

.container {
	max-width: 960px;
	margin: auto;
}

.table {
	padding: 0;
	font-size: 0;
	border: 3px solid white;
	background-color: white;
	margin-bottom: 10px; 
}

.items {
	display: inline-block;
	text-align: center;
	border-color: white;
	border: 3px solid white;
}

.text {
	display: block;
	padding: 10px;
	color: rgba(255,255,255,.7);
}

.table:hover .items {
	opacity: .5;
}

.table .items:hover {
	opacity: 1;
}

.header {
	font-weight: bold;
	font-size: 30px;
	padding: 20px 0;
}

.foot {
	font-size: 15pt;
	font-weight: 500;
}

.wi{
	margin-left: .5em;
	font-size: 1.3em;
}

.full {
	width: 100%;
}

.half {
	width: 50%;
}

.chet {
	width: 25%;
}

.block1 {
	background: #3399CC;
}

.block2 {
	background: #24BDC8;
}

.block3 {
	background: #9A6E95;
}

.block4 {
	background: #C75444;
}

.block5 {
	background: #E97049;
}

.block6 {
	background: #FECB5F;
}

.block7 {
	background: #97C396;
}

.block8 {
	background: #609396;
}

.block9 {
	background: #D07198;
}

.block10 {
	background: #2A8C67;
}

.block11 {
	background: #616A96;
}

.link {
	display: block;
	text-decoration: none;
	font-size: 24px;
	padding: 1em 0;
}