body {
	background: #3B3F45;
	font-family: sans-serif;
	margin: 0;
}

input {
	display: block;
	float: left;
	zoom: 300%;
	margin-top: 4.5px;
	margin-bottom: -1px;
}

h1 {
	margin-bottom: -20px;
}

input:checked + .elemets {
    background: #625E77;
    opacity: .6;
    text-decoration: line-through;
}


small {
	font-size: 12pt;
	opacity: .6;
}
.header {
	background: #4A4F56;
	text-align: center;
	padding-bottom: 2px;
	padding-top: 2px;
	color: #EB7E7F;
	height: 120px;
	font-size: 15pt;
}

ul {
	float: left;
	background: #88839E;
	color: white;
	margin-top: 40px;
	font-size: 20pt;
	width: 60%;
	margin-left: 20%;
}

li {
	padding-top: 15px;
	padding-bottom: 15px;
}

.clear {
	clear: left;
}

.Bon {
	background: #4A4F56;
	width: 60%;
	color: #EB7E7F;
	text-align: center;
	margin-top: 30px;
	margin-left: 20%;
	padding-top: 25px;
	padding-bottom: 25px;
	display: block;
	font-size: 20pt;
}

li:hover {
	background: #625E77;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
}
