* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
}

body {
	background: #3B3F45;
	font-family: sans-serif;
	color: white;
}

.list {
	background: #88839E;
	font-size: 0;
	width: 60%;
	margin: 50px auto;
}

.check {
	zoom: 300%;
	display: inline;
}

.check:checked + .item{
    background: #625E77;
    opacity: .6;
    text-decoration: line-through;
}

.small {
	font-size: 15px;
	opacity: .6;
}
.header {
	background: #4A4F56;
	text-align: center;
	color: #EB7E7F;
	height: 120px;
	font-size: 20px;
}

.items {
	font-size: 20px;
	padding: 10px;
	list-style: none;
	display: inline-block;
	width: 100%;
	cursor: pointer;
}

.Bon {
	background: #4A4F56;
	margin: auto;
	width: 60%;
	padding: 10px;
	color: #EB7E7F;
	display: block;
	font-size: 25px;
	border: none;
	cursor: pointer;
}

.item {
	display: inline-block;
	cursor: pointer;
	width: 100%;
}

.item:hover {
	border-top: 5px solid white;
	border-bottom: 5px solid white;
}

.item:active {
	background: #EB7E7F;
}