* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
}

body {
	background: #3B3F45;
	font-family: sans-serif;
	color: white;
}

.form {	
	width: 60%;
	margin: auto;
}

.list {
	background: #88839E;
	font-size: 25px;
	margin-bottom: 50px;
}

.check {
	zoom: 300%;
	display: inline;
	vertical-align: middle;
}

.check:checked ~ * {
    opacity: .6;
    text-decoration: line-through;
}

.item {
	padding-left: 10px;
	align-items: center;
	min-height: 70px;
	display: flex;
	cursor: pointer;
	border-top: 5px solid rgba(255,255,255,0);
	border-bottom: 5px solid rgba(255,255,255,0);
}

.elemets1 {
    background: #625E80;
}

.small {
	font-size: 15px;
	opacity: .6;
}
.header {
	padding-top: 40px;
	background: #4A4F56;
	text-align: center;
	color: #EB7E7F;
	height: 120px;
	font-size: 20px;
	margin-bottom: 50px;
}

.Bon {
	width: 100%;
	background: #4A4F56;
	padding: 25px;
	color: #EB7E7F;
	display: block;
	font-size: 25px;
	border: none;
	cursor: pointer;
}

.items {
	list-style: none;
	width: 100%;
	font-size: 20px;
}

.item:hover {
	background: #625E77;
	border-top: 5px solid rgba(255,255,255,1);
	border-bottom: 5px solid rgba(255,255,255,1);
}

.item:active {
	background: #EB7E7F;
}