body {
	background: #3B3F45;
	font-family: arial;
}

.header {
	background: #4A4F56;
	text-align: center;
	padding-bottom: 2px;
	padding-top: 2px;
	color: #EB7E7F;
	margin: -10px;
}

p {
	font-size: 15pt;
}

h1 {
	margin-bottom: -18px;
}

input {
	height: 20px;
}

.list {
	background: #88839E;
	margin-left: 140px;
	margin-right: 140px;
	color: white;
	margin-top: 40px;
	font-size: 15pt;
	padding: 15px;
}

.elemets {
	margin: -5px;
	padding: 10px;
}

.Bon {
	padding: 10px;
	background: #4A4F56;
	margin-left: 140px;
	margin-right: 140px;
	color: #EB7E7F;
	text-align: center;
	margin-top: 30px;
}

.elemets::placeholder {
color: #ffd595;
}

small {
	font-size: 10pt;
}

