.about {
	padding: 7.3vh 0 6.5vh 0;
	&__row {
		padding-right: 10%;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:after {
			position: absolute;
			font-size: 396px;
			content: "A";
			opacity: .08;
			color: $corp-color;
			right: 0;
			top: -250px;
			font-family: 'Proxima Nova Bold';
		}
	}

	&__text {
		display: flex;
		justify-content: space-between;
		&_btn {
			display: flex;
			align-items: center;
			&_text {
				position: relative;
				text-transform: uppercase;
				font-size: 14px;
				letter-spacing: 3px;
				margin-left: 5px;
				color: $black;
				font-family: 'Proxima Nova Bold';
				&:after {
					position: absolute;
					bottom: -5px;
					display: block;
					content: "";
					@include line($w: 44px, $h: 2px);
				}

				&:hover:before {
					position: absolute;
					bottom: -5px;
					display: block;
					content: "";
					@include line($w: 100%, $h: 2px);
				}
			}
			&_line {
				@include line($w: 35px);
				position: relative;
				margin-bottom: 2px;
				&:after {
					position: absolute;
					content: "";
					display: block;
					width: 5px;
					height: 5px;
					border-top: 1px solid $black;
					border-right: 1px solid $black;
					transform: rotate(45deg);
					right: 0;
					top: -2px;
				}
			}
		}
		&_text {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			max-width: 530px;
			&_head {
				text-transform: uppercase;
				font-size: 48px;
				letter-spacing: 3px;
				color: $black;
				font-family: 'Proxima Nova Bold';
				margin-bottom: 25px;
			}
			&_text {
				font-size: 15px;
				letter-spacing: 0px;
				color: $light-grey;
				font-family: 'Proxima Nova Regular';
				line-height: 25px;
				margin-bottom: 30px;
			}
		}

		&_line {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-right: 30px;
			min-width: 155px;
			&_text {
				@include line($w: 35%, $h: 4px);
				margin-top: 47%;
			}
			&_head {
				@include line($c: $black, $w: 100%);
				margin-top: 23px;
			}

		}
	}

	&__img {
		position: relative;
		filter: brightness(40%);
		filter: grayscale(40%);
		min-height: 400px;
		min-width: 529px;
		width: 45%;
		margin-right: -80px;
		background-image: url(../img/about.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: scroll;
		background-position: left top;
		box-shadow: 0 0 10px rgba(0,0,0,.4);
		z-index: -1;
		&:before {
			z-index: 9999;
			content: "aboutus";
			position: absolute;
			text-transform: uppercase;
			top: 25%;
			right: -5%;
			font-size: 169px;
			letter-spacing: 12px;
			color: $opacity-grey;
			font-family: 'Proxima Nova Bold';
			opacity: .2;
		}
	}
}