.about {
	padding-top: 100px;
	margin-bottom: 80px;
	position: relative;
	@media (max-width: 991px) {
		padding-top: 50px;
		margin-bottom: 40px;		
	}
	&__a {
		@media (max-width: 1199px) {
			display: none;
		}
		position: absolute;
		font-size: $big-size;
		content: "A";
		opacity: .08;
		color: $corp-color;
		right: calc(50vw - 580px);
		top: -225px;
		font-family: 'Proxima Nova Bold';
	}

	&__text {
		@media (max-width: 991px) {
			margin: 0;
		}
		display: flex;
		justify-content: space-between;
		margin-left: -50px;
		&_btn {
			max-width: 155px;
			display: flex;
			align-items: center;
			position: relative;
			text-transform: uppercase;
			letter-spacing: 3px;
			color: $black;
			font-family: 'Proxima Nova Bold';
			&:after {
				position: absolute;
				bottom: -5px;
				display: block;
				content: "";
				@include line($w: 44px, $h: 2px);
			}

			&:hover:before {
				position: absolute;
				bottom: -5px;
				display: block;
				content: "";
				@include line($w: 100%, $h: 2px);
			}
			&_line {
				@include line($w: 35px);
				position: relative;
				margin-bottom: 2px;
				&:after {
					position: absolute;
					content: "";
					display: block;
					width: 5px;
					height: 5px;
					border-top: 1px solid $corp-color;
					border-right: 1px solid $corp-color;
					transform: rotate(45deg);
					right: 0;
					top: -2px;
				}
			}
		}
		&_text {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-height: 165px;
			&_head {
				text-transform: uppercase;
				font-size: $products-head;
				letter-spacing: 3px;
				color: $black;
				font-family: 'Proxima Nova Bold';
			}
			&_text {
				font-size: $products-text;
				letter-spacing: 0px;
				color: $light-grey;
				font-family: 'Proxima Nova Regular';
				line-height: 25px;
			}
		}

		&_line {				
			@media (max-width: 575px) {
				min-width: 25px;
			}
			@media (max-width: 460px) {
				display: none;
			}
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-right: 30px;
			min-width: 150px;
			max-height: 190px;
			&_text {
				@include line($w: 35%, $h: 4px);
				margin-top: 60px;
			}
			&_head {
				@include line($c: $black, $w: 100%);
				margin-top: 23px;
			}
		}
	}

	&__img {
		@media (max-width: 991px) {
			margin-right: 0;
		}
		@media (max-width: 575px) {
			background-position: center top;
		}
		position: relative;
		min-height: 400px;
		margin-right: -50px;
		background-image: url(../img/about.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: scroll;
		background-position: left top;
		box-shadow: 0 0 10px rgba(0,0,0,.4);
		z-index: -1;
		&:before {
			z-index: 9999;
			content: "aboutus";
			position: absolute;
			text-transform: uppercase;
			top: 25%;
			right: 10%;
			font-size: $name-section;
			letter-spacing: 12px;
			color: $opacity-grey;
			font-family: 'Proxima Nova Bold';
			opacity: .2;
		}
	}
}