* {
	transition: all 0.3s ease;
}

html, body {
	width: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-size: $base-size;
}

.menu_bar {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: $contact-info;
	height: $contact-info;
	.line {
		border-radius: 30px;
		background-color: $white;
		height: 14%;
		width: 100%;
	}
}

.up {
	@media (max-width: 767px) {
		left: 25px;
		bottom: $box-up-size;
	}
	z-index: 10;
	display: none;
	position: fixed;
	bottom: 105px;
	left: 50px;
	text-transform: uppercase;
	color: $white;
	font-family: 'Proxima Nova Bold';
	font-size: $up;
	&.active {
		display: block;
	}
	&:before {
		content: "";
		z-index: -5;
		position: absolute;
		bottom: -15px;
		left: -12px;
		display: block;
		transform: rotate(45deg);
		width: $box-up-size;
		height: $box-up-size;
		background-color: $corp-color;
	}
}