* {
	transition: all 0.5s ease;
}

html, body {
	width: 100%;
	overflow-x: hidden;
}

.up {
	z-index: 10;
	display: none;
	position: fixed;
	bottom: 21%;
	left: 50px;
	text-transform: uppercase;
	color: $white;
	font-family: 'Proxima Nova Bold';
	font-size: 20px;
	&.active {
		display: block;
	}
	&:before {
		content: "";
		z-index: -5;
		position: absolute;
		bottom: -15px;
		left: -12px;
		display: block;
		transform: rotate(45deg);
		width: 50px;
		height: 50px;
		background-color: $corp-color;
	}
}