.contacts {
	background-color: $white;
	margin-bottom: 80px;
	&__map {
		max-width: 100%;
		min-height: 300px;
		&_icon {
			@media (max-width: 575px) {
				bottom: 45px;
				width: $box-up-size;
			}
			position: fixed;
			right: 0;
			bottom: 100px;
			width: 60px;
			font-size: $contact-info;
			background-color: $corp-color;
			color: $white;
			cursor: pointer;
			z-index: 10;
			display: none;
			&.active {
				display: block;
			}
			.fas {
				padding: 5px;
			}
		}
	}
	&__info {
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		color: $corp-color;
		font-size: $contact-info;

		&_link {
			color: $black;
			&:hover {
				font-family: 'Proxima Nova Bold';
				color: $corp-color;
			}
		}

		

		&_text {
			font-family: 'Proxima Nova Regular';
			font-size: $contact-info-text;
			color: $black;
		}
	}
}

.none {
	display: none;
	&.active {
		display: block;
		background-color: $white;
	}
}