.head {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba($corp-color, .25);
	padding: 16px 0;
	&__link {
		&_text {
			display: block;
			color: $grey;
			text-transform: uppercase;
			letter-spacing: 0px;
			font-family: 'Proxima Nova Bold';
			text-align: center;
			padding: 10px 0;
			@media (max-width: 767px) {
				padding-bottom: 0;
				margin-bottom: -5px;
				color: $white;
			}
			&:hover {
				color: $white;
			}
		}

		&_logo {
			display: block;
			font-size: $logo;
			letter-spacing: 11px;
			color: $white;
			font-family: 'Proxima Nova Bold';
			text-transform: uppercase;
			position: relative;
			&:before {
				display: block;
				content: "";
				@include line($w: 70px, $h: 4px);
				position: absolute;
				top: 17px;
				left: 48px;
			}
			&:hover {
				color: $white;
			}
		}
	}
}

.scroll {
	background-color: rgba($corp-color, .5);
	padding: 6px 0;
}