.main {
	margin-bottom: 135px;
	position: relative;
	display: flex;
	align-items: center;
	min-height: 100vh;
	&:before {
		background-image: url(../img/1.jpg);
		@include main_img;
		left: 0;
		right: 44.9%;
		min-height: 100vh;
	}
	&:after {
		background-image: url(../img/2.jpg);
		@include main_img;
		left: 54.9%;
		right: 0;
		min-height: 105vh;
	}
	&__left {
		&_line{
			@include line($w: 4px, $h: 50px);
		}
		
		.number {
			display: none;
			padding: 50px;
			margin-left: -75px;
			height: 155px;
		}

		.number1 {
			display: block;
		}

		&_number {
			writing-mode: vertical-lr;
			display: none;
			font-size: $number-size;
			letter-spacing: 4px;
			color: $corp-color;
			font-family: 'Proxima Nova Bold';
		}
		&_links {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-height: 200px;
		}
		&_link {
			z-index: 5;
			display: block;
			height: 10px;
			width: 10px;
			background-color: $grey;
			border-radius: 50%;
			@media (max-width: 768px) {
				height: 20px;
				width: 20px;
				margin-left: -5px;
			}
			&:hover {
				background-color: $corp-color;
			}
		}
	}
	&__center {
		&_head {
			@media (max-width: 767px) {
				font-size: $min-head;
				letter-spacing: 15px;
				margin-bottom: 20px;
			}
			@media (max-width: 460px) {
				font-size: $products-head;
			}
			padding-top: 40px;
			text-transform: uppercase;
			font-size: $head;
			letter-spacing: 20px;
			color: $corp-color;
			font-family: 'Proxima Nova Bold';
		}

		&_btn {
			max-width: 50%;
			width: 300px;
			margin-bottom: 10px;
			border: 2px solid $white;
			min-height: 55px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			letter-spacing: 3px;
			color: $white;
			font-family: 'Proxima Nova Bold';
			&:hover {
				border: 3px solid $white;
				color: $white;
			}
			&_line {				
				@media (max-width: 575px) {
					display: none;
				}
				@include line($c: $white, $w: 35px, $h: 1px);
				position: relative;
				&:after {
					position: absolute;
					content: "";
					display: block;
					width: 5px;
					height: 5px;
					border-top: 1px solid $white;
					border-right: 1px solid $white;
					transform: rotate(45deg);
					right: 0;
					top: -2px;
				}
			}
		}
		&_scroll {
			@media (max-width: 991px) {
				display: none;
			}			
			transition: none;
			min-height: 200px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			color: currentColor;
			max-width: 30px;
			&:hover {
				max-width: 31px;
				& * {
					color: $white;
				}
			}
			&_mouse {
				margin: 0 -15px 0 -5px;
				width: 100%;
			}

			&_line {
				margin-left: 10px;
				position: relative;
				@include line($c: $white,$w: 1px,$h: 75px);
				&:before {
					position: absolute;
					content: "";
					display: block;
					width: 5px;
					height: 5px;
					border-bottom: 1px solid $white;
					border-right: 1px solid $white;
					transform: rotate(45deg);
					left: -2px;
					top: 70px;
				}
			}

			&_text {
				margin-left: 4px;
				writing-mode: vertical-lr;
				text-transform: uppercase;
				letter-spacing: 3px;
				font-family: 'Proxima Nova Bold';
			}
		}
	}
	&__right_text {
		padding-top: 50px;
		opacity: .2;
		letter-spacing: 3px;
		writing-mode: vertical-lr;
		color: $corp-color;
		font-family: 'Proxima Nova Bold';
	}
}

.n1 {
	display: block;
}

.active {
	background-color: $corp-color;
}

.bLine {
	@media (max-width: 1199px) {
		display: none;
	}
	position: absolute;
	bottom: calc(-25px - 5vh);
	left: calc(50vw + 551px);
	@include line($w: 4px,$h: 50px);
}