.video {
	position: relative;
	.play {
		position: absolute;
		right: 7%;
		top: 0;
		&:after {
			display: block;
			content: "";
			background-image: url(../img/icon.svg);
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: 100%;
			opacity: .1;
		}
	}
	&:before {
		content: "";
		position: absolute;
		background-image: url(../img/video.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		filter: brightness(15%);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -99;
	}
	padding: 100px 0;
	&__row {
		position: relative;
		display: flex;
		flex-direction: row;
		padding: 120px 9% 12%;
		max-height: 735px;
		border: 1px solid $corp-color;
		&:before {
			content: "";
			@include line ($c: $white, $w: 1px, $h: 150px);
			position: absolute;
			right: 100px;
			top: calc(50% - 50px;);
		}
	}

	&__container {
		width: 80%;
		margin: auto;
	}

	&__text {
		&_line {
			max-width: 150px;
			padding-right: 30px;
			width: 13%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			&_head {
				margin-top: 30px;
				@include line($c: $white, $w: 100%)
			}

			&_text {
				margin-top: calc(4vh + 100px);
				@include line($h: 4px, $w: 44px)
			}
		}

		&_text {
			max-width: 515px;
			&_head {
				text-transform: uppercase;
				font-size: 48px;
				line-height: 60px;
				letter-spacing: 1px;
				color: $corp-color;
				font-family: 'Proxima Nova Bold';
				margin-bottom: 4vh;
			}
			&_text {
				font-size: 15px;
				letter-spacing: 0px;
				line-height: 25px;
				color: $white;
				font-family: 'Proxima Nova Regular';
				margin-bottom: 4vh;
			}
		}
		&_btn {
			max-width: 300px;
			width: 60%;
			border: 2px solid $white;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 55px;
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 3px;
			color: $white;
			font-family: 'Proxima Nova Bold';
			&:hover {
				color: $white;
				border: 3px solid $white;
			}
		}
	}
}

.far {
	height: 24px;
	width: 24px;
	margin-right: 10px;
	color: $white;
}