* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body,
html {
	width: 100%;
}

body {
	background: blue;
	font-size: 0;
}

.desk {
	max-width: 420px;
	margin: auto;
	border: 10px solid brown;
}

.item {
	min-width: 50px;
	min-height: 50px;
	float: left;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}

.clearfix {
	clear: left;
}
